* {margin:0; padding:0;}
body{
    width:100%;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
}
#container{
    width:1000px;
    margin: 0 auto;
}

.header{
    min-width: 1000px;
    overflow-x: hidden;
    background:
        url("img/bg-ben.png") no-repeat,
        #000409;
    background-position:center;
    
} 
.logo{
    width:233px;
    height:70px;    
}
.menu {
    width:700px;
    height:70px;
    float:right;
    color:#fff;  
    background:#000;
}
.home-slide {
    padding:100px 100px 100px 50px;
    width:400px;
    color:#fff; 
}
.home-slide p{
    font-size:16px;
    font-weight:100;
    padding-top:20px;
}
a.lees-verder{
    height:33px;    
    line-height:33px;
    display:block;
    margin: 30px 0 0 0;
    font-size:16px;
    color:#8e9fb1;
    font-weight:600;
    
}
a.lees-verder img{
    padding: 0 10px 0 0;
    vertical-align:middle;
}
h2{
    font-size:38px;
    font-weight:bold;
}
.twitter-feed {
    position:relative;
    height:70px;
    width:1000px;
    background:#121a22;
}

@media screen and (min-width: 1001px) {
    body {
        //overflow-x: hidden;
    }
}

.image-bar {
    width:1400px; 
    margin-left: -200px;
}
.image-bar-alles{
    float:left;
    width: 200px;
    height: 200px;
    background-color: #000;
}
.image-bar img {
    float:left;
    display: block;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
}
    .image-bar img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }
